<h2>新しいパスワード設定</h2>
<form action="/reset-password" method="POST">
  <input type="hidden" name="token" value="<%= token %>">
  <input type="password" name="password" placeholder="新しいパスワード" required>
  <button type="submit">更新</button>
</form>