<% title = 'スタッフ専用ページ' %>
<div class="container py-4 text-light">
  <h2 class="mb-4">👩‍💻 スタッフ専用ページ</h2>
  <ul class="list-group">
    <li class="list-group-item bg-dark">
      <a href="/staff/users" class="text-info">👥 ユーザー管理</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="/staff/coupons" class="text-info">🎁 クーポン発行</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="/staff/orders" class="text-info">🧾 全ユーザー購入履歴</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="/staff/profits" class="text-info">💹 利益</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="/staff/balance" class="text-info">💰 SMM残高</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="/staff/affiliate" class="text-info">🤝 アフェリエイト</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="/staff/withdraw" class="text-info">🏦　アフェリエイト出金確認</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="/staff/announcements" class="text-info">📢 お知らせ管理</a>
    </li>



  </ul>
</div>
